src/main/mule/web-service-consumption.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="178a3019-c3b0-4c68-80b6-937049505cbd" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="d2aee5bc-c25f-4b77-b9a9-baa6841e2ecc" >
		<http:request-connection host="reqres.in" port="80" />
	</http:request-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="3a33b8ed-4671-46e4-ae66-712e6fbdef3c" >
		<wsc:connection wsdlLocation="http://dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://dneonline.com/calculator.asmx" />
	</wsc:config>
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="b9e1043b-a4c9-497b-aecf-b804ae9dcddb" >
		<http:request-connection host="americanflightsdemo.us-e2.cloudhub.io" port="80" />
	</http:request-config>
	<flow name="web-service-consumptionFlow-REST" doc:id="7f5ec94b-092c-4476-884b-05fa4b9164b4" >
		<http:listener doc:name="Listener" doc:id="c71c382b-4328-4db0-9fc1-3f0ba83ee1a1" config-ref="HTTP_Listener_config" path="/users" allowedMethods="POST"/>
		<set-variable value="#[payload.inputNumber]" doc:name="Set Variable" doc:id="b193963b-44bb-4479-a20b-d703245ab267" variableName="userId"/>
		<logger level="INFO" doc:name="Logger" doc:id="089b02f5-2f8d-4336-b770-b45eeab144b3" message="Api started"/>
		<http:request method="GET" doc:name="Request" doc:id="fea3f53f-81e4-492e-af2f-782bfe90c8fd" config-ref="HTTP_Request_configuration" path="#['/api/user/'++ vars.userId as String]"/>
	</flow>
	<flow name="web-service-consumptionFlow-SOAP" doc:id="73f0fdde-fc0a-4055-8cb4-62d33f035330" >
		<http:listener doc:name="Listener" doc:id="41678664-caf5-4d73-a2bc-55b8e2db4015" config-ref="HTTP_Listener_config" path="/convert"/>
		<ee:transform doc:name="Transform Message" doc:id="b6b13278-b5b6-428a-a6fe-cb509947215b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#intA: payload.inputNumberFirst,
		ns0#intB: payload.inputNumberSecond
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="7f1977d5-8c80-479a-ae2e-14aa2adc015c" config-ref="Web_Service_Consumer_Config" operation="Add"/>
		<ee:transform doc:name="Transform Message" doc:id="8984a643-e89b-44a4-b7da-60f5550cfc96" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	result: payload.body
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="web-service-consumptionFlow-REST_API" doc:id="36fb2cdf-8a79-420f-a650-cc052ff2c0f1" >
		<http:listener doc:name="Listener" doc:id="cc154a97-81a7-4288-8c42-04abc9421fb9" config-ref="HTTP_Listener_config" path="/flightsUsingService"/>
		<logger level="INFO" doc:name="Logger" doc:id="2c0b789b-247c-4161-8967-f218ecd31ac7" message="Flights api started"/>
		<http:request method="GET" doc:name="Request" doc:id="5f7854ef-bd53-4aa3-aef8-77b9dfe05fbf" config-ref="HTTP_Request_configuration1" path="/flights"/>
	</flow>
	<flow name="masked-senstive-data-Flow" doc:id="b7cf1377-f9c3-4bd9-8905-e10ae20226e1" >
		<http:listener doc:name="Listener" doc:id="78a8a533-168b-4f10-83a1-8c2a9a4fd8b4" config-ref="HTTP_Listener_config" path="/data">
			<http:error-response statusCode="#[vars.statusCode]" reasonPhrase="#[vars.reasonsPhrase]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="be5dbf1f-aa57-40b8-9476-6e1446866ea2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="680a913c-4d1c-46fd-850b-6324cedd878e" >
			<when expression="#[sizeOf(payload) == 0]">
				<raise-error doc:name="Raise error" doc:id="9433e9af-a81c-41b2-9803-6597a372d9fc" type="DATA:BLANK_PAYLOAD"/>
			</when>
			<when expression='#[payload.data[0].accno == ""]'>
				<raise-error doc:name="Raise error" doc:id="0dd03998-8080-4383-aae9-00adcff6975c" type="DATA:INVALID"/>
			</when>
		</choice>
		<async doc:name="Async" doc:id="46dc257c-b00f-4cd4-916a-81adb5f9bf5e" >
			<ee:transform doc:name="Transform Message" doc:id="c0fdc165-acd6-4092-a9d8-e9f4956d527e" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	data: payload.data map ( datum , indexOfDatum ) -> {
		Name: datum.Name,
		age: datum.age,
		ssn: "*******"
	}
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="ccc4427d-307d-4d26-9aae-9e16149ad3bb" message="#[payload]"/>
		</async>
		<ee:transform doc:name="Transform Message" doc:id="58136701-d571-4b68-b728-835b45297bb8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	data: payload.data map ( datum , indexOfDatum ) -> {
		Name: datum.Name,
		accno: datum.accno,
		age: datum.age,
		ssn: datum.ssn
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="4848f266-2cc5-414f-8840-e1aa3147d74b" type="DATA:BLANK_PAYLOAD">
				<ee:transform doc:name="Transform Message" doc:id="939ac5a2-9e5e-460d-b39b-4d30fdf0be74" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Payload can not be blank"
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="statusCode" ><![CDATA[400]]></ee:set-variable>
						<ee:set-variable variableName="reasonsPhrase" ><![CDATA["BLANK_PAYLOAD"]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="a4591474-2cab-49e6-a12c-32f1c076c37c" type="DATA:INVALID">
				<ee:transform doc:name="Transform Message" doc:id="1d12e25c-bf93-47b0-9f31-b62ae3937c36" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "account number is mandatory"
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="statusCode" ><![CDATA[401]]></ee:set-variable>
						<ee:set-variable variableName="reasonsPhrase" ><![CDATA["UNAUTHORIZED"]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="fa74eb5b-97b5-440c-a826-20bab2b1136f" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="8814d578-b846-441f-a42b-de2551d26c83" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.errorMessage
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
